/* NORMALIZE */
*,
**::before,
**::after { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { 
	font-size: 62.5%;
	/* font-family: 'Urbanist', sans-serif; */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: linear-gradient(to top, #909aaa, #adb2bf, #c9cbd4, #e4e4e9, #ffffff);
  }